

/*///////////////////////////
//       LOGGED OUT        //
///////////////////////////*/

#loginCeditials {
  margin-top: 200px;
  text-align: center;
  display: ;
}

#authPhoto {
  height: 145px;
  width: 140px;
  border-radius: 100px;
}

.logoutHeading {
  text-align: center;
}







/*///////////////////////////
//        LOGGED IN        //
///////////////////////////*/
